<div class="item-editor">
        <div>
            <img src="<%= @item.image_url %>" width="200px">
            <div class="item-details">
                <h2>In <%= @item.list.name %></h2>
                <p><%= @item.name %></p>
                <p><%= @item.cost %> EUR</p>
            </div>
        </div>
</div>