// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.home {

    input[type="text"] {
        width: 60vw;
    }

    input[type="submit"] {
        border: none;
        padding: 9px 30px;
        background-color: blue;
        color: white;
        cursor: pointer;
        &:hover {
            color: blue;
            background-color: white;
        }
    }
}