// Place all the styles related to the Item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.item-editor {

    div:first-child {
        padding: 10%;
        background-color: white;
        display: flex;
        align-items: center;
    }

    div.item-details {
        margin-left: 100px;
    }

    input[type="submit"] {
        border: none;
        padding: 9px 30px;
        margin-top: 50px;
        background-color: blue;
        color: white;
        cursor: pointer;
        &:hover {
            color: blue;
            background-color: white;
        }
    }

    input[type="text"] {
        width: 60vw;
    }
}